h1 {
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}
body {
    background-color: #C3D941;
}

h1 {
    color: #ffffff;
}

body {
  background-image: url(FF15borm.github.io/EE226F79-82F9-4B6C-BB99-9616F38E80A6.jpeg);
}
background-image: url(FF15borm.github.io/EE226F79-82F9-4B6C-BB99-9616F38E80A6.jpeg);
background-repeat:repeat

