body {
    background-color: #00bfff;
}

h1 {
    color: #e0ffff;
}

a {
    color: dark;
}
.bg_test-text {
    border:  solid 1px;                             /* 枠線指定 */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.7);     /* 背景色指定 */
}
.bg_test {
    text-align:  center;    /* 文字中央寄せ */
    padding:  150px;        /* 余白指定 */
    border: solid 2px;      /* 枠線指定 */
}
セレクタ {
    background-image: url(D639C0D2-99A6-483D-BE9B-1148354BAFBC.png);
}
.bg_test {
    background-image: url"D639C0D2-99A6-483D-BE9B-1148354BAFBC.png";    /* 背景画像指定 */
}
セレクタ {
    background-repeat: 繰り返しの指定;
}
.bg_test {
    background-image: url"D639C0D2-99A6-483D-BE9B-1148354BAFBC.png";     /* 背景画像指定 */
    background-repeat: repeat-x;                /* 背景の繰り返し設定 */
}
.bg_test {
    background-image: url"D639C0D2-99A6-483D-BE9B-1148354BAFBC.png";    /* 背景画像指定 */
    background-size:  cover;                /* 画像のサイズ指定 */
}
